doctype 5
html
    head
        title Henrik Oldenborg

        meta charset="utf-8"
        meta name="keywords" content="template language"

        link rel="stylesheet" type="text/css" href="css/main.css"

    body.row

        section#image.col-xs-7 style="background-image: url('/images/profile.jpg')"
            /! section#navigation
                nav
                    div: a href="#" Frisør
                    div: a.active href="#" Farvning
                    div: a href="#" Hårkipning
                    div: a href="#" Priser

        section#content.col-xs-5
            /! a#coffee.b.a Coffee?
            h1
                span Henrik Oldenborg
                small Fullstack developer

            p.lead Jeg arbejder stadig på at får gjort noget ved mit website, men med 2 små unger er der nok at se til, jeg fixer det når jeg får tid.
            p I mellemtiden kan du fange mig på ente github eller linkedin.

            ul.n.i
                li
                    img.i src="/images/icons/github.svg" width="30px" height="30px"
                    a href="https://www.github.com/oldenborg" target="_blank" Github
                li
                    img.i src="/images/icons/linkedin.svg" width="30px" height="30px"
                    a href="https://dk.linkedin.com/in/oldenborg" target="_blank" LinkedIn
