@import mix
@import colors
@import url('https://fonts.googleapis.com/css?family=Lato')

html, body
    font-family: 'Lato', sans-serif
    height: 100%
    font-size: 1.2rem

h1
    font-weight: 200
    font-size: 3rem

    small
        font-size: 2rem
        display: block
        color: $gray

p.lead
    font-size: 1.5rem
    font-weight: 100


i
    


ul
    &.n
        list-style: none
        padding: 0

        li
            line-height: 3rem

    &.i
        img.i
            vertical-align: middle
            margin-right: 0.5rem
  
    

textarea
    display: block
    width: 100%
    height: 300px

a
    color: $asphalt
    cursor: pointer
    font-size: 1rem
    text-decoration: none

    // b for button
    &.b
        border: 1px solid $gray
        padding: 0.5rem 1rem
        border-radius: 0.4rem
        background-color: $gray

        // bp for button primary
        &.p
            color: $white
            border-color: $primary
            background-color: $primary

        // ba for button alternative
        &.a
            color: $primary
            border-color: $primary 
            background-color: initial

            &:hover
                color: white
                background-color: $primary
            

body.row
    margin: 0

    > section
        height: 100%

#image

    background-repeat: no-repeat
    background-position: center center
    background-attachment: inherit
    +vendor(background-size, cover)
    background-color: #030c0d


    z-index: 0
    position: relative

    #navigation
        z-index: 1
        text-align: right
        right: 0
        bottom: 10%
        position: absolute


        nav
            div
                margin-bottom: 2px

                a
                    background: #FFF
                    display: inline-block
                    height: 2rem
                    line-height: 2rem
                    padding: 0.5rem 1rem
                    padding-right: 2rem

                    &:hover
                        padding-right: 3rem
                    

                    &.active
                        background: $primary


#content
    z-index: 2
    padding: 2rem
    background: $white
    +vendor(box-shadow, 0px 0px 50px 10px $shadow)

    #coffee
        float: right

    h1:first-of-type
        margin-top: 0
